/* Register, login */
.reg-log-container {
  width: 280px;
  padding: 25px 15px;
  margin-top: 30px;
  min-height: calc(100vh - 141px);
}
.btn {
  margin: 10px;
  padding: 6px;
  width: 150px;
  border: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #ed7966;
  border-radius: 0;
}
.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.input {
  width: 250px;
  padding: 3px;
  margin: 7px;
}
/* toolbar */
.toolbar {
  background-color: #ed7966;
  padding: 15px;
  width: 100%;
  position: sticky;
  top: 0;
}
.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
}
.link:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}
/* notification */
.badge {
  position: relative;
  top: -6px;
  right: 0px;
  padding: 5px 8px;
  border-radius: 50%;
  background: rgb(131, 131, 131);
  color: white;
}
.badge1 {
  position: relative;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
  border-radius: 50%;
  background: rgb(131, 131, 131);
  color: white;
}
/* user profile */
.user-container {
  width: 100%;
  background-color: #e0d8d7;
  height: 250px;
  padding: 25px;
}
.user-image {
  height: 120px;
  width: 140px;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.user-image:hover::after {
  content: "Pakeisti nuotrauką";
  width: 140px;
  display: block;
  position: absolute;
  height: 30px;
  background: #ed7966;
  font-weight: bold;
}
.user-image:hover {
  cursor: pointer;
}
/* MODAL */
.modal-window {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(133, 133, 133, 0.46);
  backdrop-filter: blur(6px);
}
.modal-main {
  color: #575757;
  display: flex;
  flex-direction: column;
  padding: 20px 60px 40px;
  gap: 15px;
  background-color: aliceblue;
  width: 60%;
}
.close-button {
  align-self: flex-end;
  margin-right: -50px;
  margin-top: -10px;
  color: #575757;
}
.btn-modal {
  margin: 10px;
  padding: 6px 12px;
  border: none;
  font-weight: bold;
  background-color: #ed7966;
  color: white;
}
.btn-modal:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: rgb(255, 255, 255);
}
/* One topic element */
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex4 {
  flex: 4;
}
.forum-box {
  min-height: calc(100vh - 111px);
}
.fav-box {
  min-height: calc(100vh - 111px);
}
.height-container {
  min-height: calc(100vh - 111px);
}
/* pagination */
.pagination {
  justify-content: center;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  border: 1px solid #aaaaaa;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

ul.pagination li a {
  text-decoration: none;
  color: #ed7966;
  font-size: 20px;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #ed7966;
}
.page-selection {
  width: 48px;
  height: 30px;
  color: #ed7966;
}
.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
/* Topic */
.topic-card {
  border: #f5cac2;
  margin: 2px;
  background-color: #f5cac2;
  padding: 10px;
  width: 80%;
}
.title {
  width: 80%;
}
.topic-card:hover {
  background-color: #ffc3b8;
}
.topic-onclick:hover {
  cursor: pointer;
}

/* comment */
.comment-container {
  margin: 0 60px;
  border: 1px solid black;
}

.comment-container img {
  height: 130px;
  width: 200px;
}
.user-info {
  font-size: 16px;
}
.user-box {
  border-right: solid 1px black;
  padding: 15px;
}
.user-box img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.comment-box {
  padding: 15px;
}
textarea {
  margin: 20px 60px 0 60px;
  min-height: 150px;
  width: 60%;
}
.user-comment-container {
  margin: 0 60px;
  border: 1px solid black;
  width: 80%;
}
.link-topic:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .md-column {
    flex-direction: column;
  }
  .md-align-center {
    align-items: center;
  }
  .md-flex {
    display: flex;
  }
  .md-j-center {
    justify-content: center;
  }
  .user-box {
    border-right: none;
    border-bottom: solid 1px black;
    transform: scale(0.8);
  }
  .user-box img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .comment-container {
    margin: 0 20px;
  }
  textarea {
    margin: 20px 20px 0 20px;
    width: 90%;
  }
  .link {
    font-size: 15px;
  }
}
.dis-flex {
  display: flex;
}
.none {
  display: none;
}
.user-info {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .sm-column {
    flex-direction: column;
  }
  .sm-flex {
    display: flex;
  }
  .sm-toolbar {
    background-color: #ed7966;
    position: relative;
    height: 40px;
    color: white;
  }
  .menu-icon {
    position: absolute;
    right: 10px;
  }
  .menu-icon:hover {
    cursor: pointer;
  }
  .sm-none {
    display: none;
  }
  .sm-toolbar-box {
    color: white;
    background-color: #f18c7c;
    font-size: 12px;
    width: 100%;
    top: 40px;
    position: absolute;
    text-align: center;
    z-index: 999;
  }
  .link:hover {
    background-color: #ed7966;
  }
  .link {
    padding: 5px 0;
  }
  .user-info {
    font-size: 14px;
  }
}
/* Loader */
.loader {
  border: 5px solid #ddd9d9; /* Light grey */
  border-top: 5px solid rgb(131, 131, 131);
  border-right: 5px solid rgb(131, 131, 131);
  border-bottom: 5px solid rgb(131, 131, 131);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* footer  */
.footer-container {
  background-color: #ed7966;
  padding: 15px;
  color: white;
  position: sticky;
  bottom: 0;
}
